@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using System.Text.RegularExpressions;
@using System.Text;

@{
	dynamic content = Model.Content.Children.Where("DocumentTypeAlias==\"PageContent\"").Count()>0 ? Model.Content.Children.Where("DocumentTypeAlias==\"PageContent\"").First() : null;


}


@if (content!=null){

	@renderContentLoop( content );
	
}

@helper renderContentLoop(dynamic content){

	@* render non image content tile content *@
	foreach (var item in content.Children.Where("DocumentTypeAlias.ToLower().IndexOf(\"tile\")==-1")){
		
		@renderContent(item);

		if (item.DocumentTypeAlias=="PageSubSection"){
			@renderContentLoop(item);
			<div class="cmp-section-spacer"></div>
		}
	}
	@* render image tile content *@
	var tileContent = content.Children.Where("DocumentTypeAlias.ToLower().IndexOf(\"tile\")!=-1");
	if (tileContent.Count()!=0){
		<div class="cmp-tile clearfix @if(content.smallTiles){@("cmp-tile-smallTiles");}">
			<div>
				<ul>
				@foreach (var item in tileContent){
					
					@renderTileContent(item);
					
				}
				</ul>
			</div>
		</div>
	}
		
}


@helper renderContent(dynamic item){
	@*@item.DocumentTypeAlias*@
	
	if (item.DocumentTypeAlias=="LargeTextCentreAligned"){
		@renderLargeTextCenter(item)
	}
	if (item.DocumentTypeAlias=="LargeTextLeftAligned"){
		@renderLargeTextLeft(item)
	}	
	if (item.DocumentTypeAlias=="RichText"){
		@renderText(item)
	}
	
	if (item.DocumentTypeAlias=="twoColumnSplit"){
		<div class="cmp-2col clearfix">@foreach (var item2 in item.Children){<div class="cmp-2col-col@(item2.Index()+1)">
				@renderContent(item2)
			</div>}</div>
	}
	if (item.DocumentTypeAlias=="threeColumnSplit"){
		<div class="cmp-3col clearfix">@foreach (var item2 in item.Children){<div class="cmp-3col-col@(item2.Index()+1)">
				@renderContent(item2)
			</div>}</div>
	}
	if (item.DocumentTypeAlias=="FullWidthImage" && item.HasValue("image")){
		dynamic media = Umbraco.Media(item.image.ToString());
		
		var src =  media.umbracoFile.src;
		<img src="@(src)?crop=0,0,0,00&quality=95&width=360&slimmage=true" class="cmp-fullWidthImage"/>
		
	}
}


@helper renderLargeTextCenter(dynamic item) {
	
	<div class="cmp-section-top-height cmp-large-text cmp-large-text-center">
		<div class="cmp-large-text-center-cell">
			@item.text
		</div>
	</div>
		
}


@helper renderLargeTextLeft(dynamic item) {
	string text = item.text.ToString();
	
	<div class="cmp-section-top-height cmp-large-text @(item.supersizeMe ? "super-large" : "")">
		@if (item.isClientList){
			text = Regex.Replace(text, @"\<p\>|<\/p>", "", RegexOptions.IgnoreCase);
			text = Regex.Replace(text, @"<br\/>|<br>|<br \/>", "|", RegexOptions.IgnoreCase);
			var textA = text.Split('|');
			StringBuilder sb = new StringBuilder();
			sb.Append("<p class=\"cmp-large-text-clients\">");
			foreach(string text2 in textA){
				sb.Append("<span>"+text2+"</span>");
			}
			sb.Append("</p>");
			text = sb.ToString();
		}
		@Html.Raw(text)
	</div>	
}

@helper renderText(dynamic item) {

	<div class="cmp-text @if(item.dontRestrictHeight){@("cmp-text-dont-restrict");}">
		@item.text
		@if (item.showShareLinks){
			<div class="cmp-text-social">
				<span>Share</span>
				<ul>
					<li><a href="http://www.facebook.com/sharer.php?u=@umbraco.library.NiceUrlWithDomain(item.Id)" class="icons-F" target="_blank"><span>Facebook</span></a></li>	
					<li><a href="http://twitter.com/share?url=@umbraco.library.NiceUrlWithDomain(item.Id)" class="icons-T" target="_blank"><span>Twitter</span></a></li>					
				</ul>
			</div>
		}
	</div>	
}


@helper renderTileContent(dynamic item){

	string caption = "";
	string src =  "";	
	string url = "";
	string crop = item.portraitOrientation ? "Portrait" : "Landscape";
	bool big;

	if (item.DocumentTypeAlias=="ContentTile"){
		if (item.HasValue("media")){
			dynamic media = Umbraco.Media(item.media);
			caption = item.caption.ToString();
			
			if (media.DocumentTypeAlias=="AnimatedGifImage"){
				if (crop=="Portrait"){
					src = media.imagePortrait;	
				} else {
					src = media.imageLandscape.src;
				}
			} else {
				src =  media.GetResponsiveCropUrl(crop, "umbracoFile");
			}	
			
			url = item.Children.Where("DocumentTypeAlias==\"PageContent\"").Count()!=0 ? item.Url : "";
		}
	}
	
	if (item.DocumentTypeAlias=="ContentTileAlias" && item.HasValue("alias")){

		dynamic content = Umbraco.Content(item.alias);
		if (content.DocumentTypeAlias=="ContentTile"){
			dynamic media = Umbraco.Media(content.media);
			if (content.HasValue("media")){
				caption = content.caption.ToString();
				
				if (media.DocumentTypeAlias=="AnimatedGifImage"){
					if (crop=="Portrait"){
						src = media.imagePortrait;	
					} else {
						src = media.imageLandscape.src;
					}
				} else {
					src =  media.GetResponsiveCropUrl(crop, "umbracoFile");
				}	
			
			url = item.Children.Where("DocumentTypeAlias==\"PageContent\"").Count()!=0 ? item.Url : "";
				url = content.Url;
			}
		}
	}

	big = item.big;


	if (src!=""){
		<li class="cmp-tile-@(crop.ToLower())@if(big){@(" cmp-tile-big");}">
		@if (url==""){
			<span class="cmp-tile-image"><img src="@src" alt="@(caption=="" ? "*" : caption)"/></span>
			<span class="cmp-tile-caption">@caption</span>
		} else {
			<a href="@url" class="cmp-tile-image"><img src="@src" alt="@(caption=="" ? "*" : caption)"/></a>
			<a href="@url" class="cmp-tile-caption">@caption</a>
		}
		</li>
	}

	
	if (item.DocumentTypeAlias=="videoTile" && item.HasValue("vimeoCode")){
		<li class="cmp-tile-landscape cmp-tile-big">
			<iframe src="https://player.vimeo.com/video/@(item.vimeoCode)" class="cmp-tile-video" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen wmode="Opaque"></iframe>
		</li>	
	}
}





