@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1);
	var level1 = CurrentPage.AncestorsOrSelf(2);
	

}
<!-- Nav -->
<nav>
    <ul class="nav-1">

        @foreach (var item in homePage.First().Children.Where("NodeTypeAlias==\"Page\""))
        {
            <li class="@(level1.First().Id == item.Id ? "nav-1-active" : null)">
				<a href="@item.Url">@item.Name</a>
				
				@if (level1.First().Id == item.Id && level1.Count()>0 && level1.First().Level==2){
					
					<ul class="nav-2">
					
						@foreach (var item2 in level1.First().Children.Where("NodeTypeAlias==\"Page\""))
						{
							<li class="@(CurrentPage.Id == item2.Id ? "nav-2-active" : null)"><a href="@item2.Url">@item2.Name</a></li>
						}
					</ul>

							
				}
			</li>
        }
    </ul>
</nav>

		
		
<!-- /Nav -->