@inherits UmbracoTemplatePage
@{
    Layout = null;
	
    var homePage = CurrentPage.AncestorsOrSelf(1);
	var level1 = CurrentPage.AncestorsOrSelf(2);
	bool showNav2 = false;
	

}<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1">
        <meta name="description" content="">
        <title></title>

        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> 
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
		
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css" media="screen"> 
        @*<link rel="stylesheet" href="https://fast.fonts.net/t/1.css?apiType=css&projectid=b41188b3-36ff-4b67-a1d1-9c3c6d9eb566">*@

			
<script>
    var ipad = false;

    if (screen.width >= 768 || screen.height >= 768) {
        ipad = true;
        document.write('<link rel="stylesheet" href="/css/screen-tablet_portrait.css" media="only screen and (min-width: 768px)">');
        document.write('<link rel="stylesheet" href="/css/screen-tablet_landscape.css" '
            + 'media="only screen and (min-width: 1080px),'
            + 'only screen and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1.2),'
            + 'only screen and (orientation:landscape) and (min-device-width:768px) and (max-device-width:1024px) ">');
    }
    if (screen.width >= 1200 || screen.height >= 1200) {
        ipad = false;
        document.write('<link rel="stylesheet" href="/css/screen-desktop.css" media="only screen and (min-width: 1200px)">');
    }

</script>
	
	

    <script src="/scripts/vendor/slimmage.min.js"></script>
	
	</head>
	<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <noscript>
            <div>This website has been built with Javascript.<br /><br />Please enable Javascript to have a great browsing experience.</div>
        </noscript>
	<!-- Header -->
        <div class="header-container">
            <header class="wrapper">
                <h1><a href="/"><span>HMKM</span></a></h1>
                <a href="javascript:" class="cmp-show-nav"><span>Show navigation</span></a>
					
<!-- Nav -->
<nav>
    <ul class="nav-1">

        @foreach (var item in homePage.First().Children.Where("NodeTypeAlias==\"Page\""))
        {
            <li class="@(level1.First().Id == item.Id ? "nav-1-active" : null)">
				<a href="@item.Url">@item.Name</a>
				
				@if (level1.First().Id == item.Id && level1.First().Children.Where("NodeTypeAlias==\"Page\"").Count()>0){

					showNav2 = true;	

					<ul class="nav-2">
					
						@foreach (var item2 in level1.First().Children.Where("NodeTypeAlias==\"Page\""))
						{
							<li class="@(CurrentPage.Id == item2.Id ? "nav-2-active" : null)"><a href="@item2.Url">@item2.Name</a></li>
						}
					</ul>

							
				}
			</li>
        }
    </ul>
</nav>

		
		
<!-- /Nav -->



            </header>
        </div>
    <!-- /Header -->

	<!-- Main -->
	<div class="main-container clearfix">
		<div class="main wrapper section-content @if (showNav2){@("nav2Padding");}">
			@*Umbraco.RenderMacro("Content")*@
			@{ Html.RenderPartial("content"); }	
		</div>
	</div>
	<!-- /Main -->		

    @* @RenderBody() *@

    <!-- Footer -->
    <div class="footer-container">
        <footer class="wrapper">
            <div class="footer-content">
  				<div class="cmp-footer1">
					<div class="cmp-footer1-heading">Contact us directly</div>
					<div class="cmp-footer1-text">@Umbraco.Field("footer1Text", recursive: true)</div>
				</div>
				<div class="cmp-footer2">
					<div class="cmp-footer2-heading">Follow us on the move:</div>
					<div class="cmp-footer2-text">@{ Html.RenderPartial("social"); }</div>	
				</div>
				<div class="cmp-footer3">
					<div class="cmp-footer3-heading">Sign up to receive our emailers:</div>
					<div class="cmp-footer3-text">
						@{ Html.RenderPartial("newsletterSignup"); }
					</div>
				</div>
				<div class="cmp-footer4">
					&copy;@Umbraco.Field("copyright", recursive: true) - @DateTime.Now.Year
					
				</div>
            </div>
        </footer>
    </div>
    <!-- /Footer -->
	<script src="/scripts/vendor/require.js" data-main="/scripts/main"></script>
@*			
<script type="text/javascript"> 
	/* <![CDATA[ */   
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
	try {
		var pageTracker = _gat._getTracker("UA-9925575-1");
		pageTracker._trackPageview();
	} catch(err) {}
		  /*]]> */  
</script> 				
*@					
						
</body>
</html>